section.home
    width: 100%    
    .viewTypeBtn
        color: #01B3E6
        display: flex
        font-family: 'Fredoka'
        font-size: 1.5em
        justify-content: flex-end
        margin-bottom: 30px
        width: inherit